
.leaderboard {
  margin: 0 auto;
}
.players {
  list-style-type: none;
  margin-top: 20px;
  line-height: 1em;
  display: inline-grid;

  .player-ranking {
    width: 100%;
    text-align: center;
  }

  li .score {
    align-content: center;
    display: grid;
    width: 100px;
    height: 100%;
    color: white;
    text-align: center;
    background-color: yellowgreen;
  }

  li .name {
    color: #607D8B;
    widows: 150px;
    text-align: center;
    background-color: #DDD;
  }
  li {
    color: #607D8B;
    background-color: #DDD;
    display: inline-flex;
    height: 100%;
    align-items: center;
  }
  .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    left: -1px;
    height: 1.8em;
    width: 50px;
    text-align: center;
    margin-right: .8em;
  }
}
